*,
*::before,
*::after {
  box-sizing: inherit;
}


html {
  box-sizing: border-box;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open sans", sans-serif;
  font-weight: 400;
}

/*
/////////////////////////////////////////// 
Remove focus styling
/////////////////////////////////////////////
*/

:focus {
  outline: 0;
}

:disabled {
  cursor: not-allowed;
}

header {
  display: none;
}

.app-container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.column {
  width: 25%;
  background: #fff;
}

/* .column-right-export-btn {
  transition: display 400ms ease-in-out 300ms;
} */


/*
/////////////////////////////////////////// 
BUTTONS
/////////////////////////////////////////////
*/

.btn {
  font-size: 16px;
}

/*
/////////////////////////////////////////// 
LEFT COLUMN
/////////////////////////////////////////////
*/

.left {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.component-input {
  bottom: 2.8%;
}

.expansionPanel {
  flex-direction: column-reverse;
  display: flex;
  overflow-y: scroll;
  padding: 1%;
}

.clear-workspace {
  top: 96%;
  position: sticky !important;
  z-index: 1;
}

/*
/////////////////////////////////////////// 
MAIN COLUMN
/////////////////////////////////////////////
*/

h1 {
  color: #ccc;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-x: scroll;
  overflow-y: scroll;
}

.main-header {
  display: flex;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
}


.main-header-buttons {
  display: flex;
  font-size: 12px;
}

.main {
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  background: #fff;
  flex: 1;
  width: 100%;
  overflow: scroll;
  display: flex;
  /* justify-content: center;
  align-items: center; */
}


.draggable {
  position: relative;
}

.image {
  top: 0;
  left: 0;
  width: 100%;
  position: relative;
}

.image-container {
  position: relative;
  display: flex;
  top: 0;
  left: 0;
}

.export-preference div span {
  transition: color 1s, background-color 1.5s, transform 2s;
}

.export-preference div:hover {
  background-color: #303f9f;
}

.export-preference div:hover span {
  color: white;
}

.info {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/*
/////////////////////////////////////////// 
RIGHT COLUMN
/////////////////////////////////////////////
*/

.export {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.column-right {
  transition: width 250ms ease-in-out;
  height: 100%;
  display: flex; 
  flex-direction: column;
}

.props-comp {
  padding: 20px;
}

/* Sortable tree sorting */
.sortable-tree {
  height: 100%;
}

.rst__rowContents {
  width: 45px;
}

.rst__moveHandle, .rst__loadingHandle {
  width: 40px;
}

.rst_tree {
  overflow: scroll;
}

.rst__rowLabel {
  padding-right: 5px;
}
