*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open sans", sans-serif;
  font-weight: 400;
}

header {
  display: none;
}

.app-container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.column {
  width: 25%;
  background: #fff;
}

.left {
  padding: 20px;
  overflow: scroll;
}

.column .right {
  width: 25%;
}


/*
/////////////////////////////////////////// 
BUTTONS
/////////////////////////////////////////////
*/

.btn {
  font-size: 16px;
}

/*
/////////////////////////////////////////// 
LEFT COLUMN
/////////////////////////////////////////////
*/



/*
/////////////////////////////////////////// 
MAIN COLUMN
/////////////////////////////////////////////
*/

h1 {
  color: #ccc;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-x: scroll;
  overflow-y: scroll;
}

.main-header {
  display: flex;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
}


.main-header-buttons {
  display: flex;
  font-size: 12px;
}

.main {
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  background: #fff;
  flex: 1;
  /* width: 100%; */
  overflow: scroll;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
}


.draggable {
  position: relative;
}

.image {
  top: 0;
  left: 0;
  width: 100%;
  position: relative;
}

.image-container {
  position: relative;
  /* width: 100%; */
  /* height: auto; */
  display: flex;
  /* justify-cotent: flex-start; */
  /* align-items: center; */
  top: 0;
  left: 0;
}

/*
/////////////////////////////////////////// 
RIGHT COLUMN
/////////////////////////////////////////////
*/

.export {
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Sortable tree sorting */
.rst__rowContents {
  min-width: 140px;
}

.rst__moveHandle, .rst__loadingHandle {
  width: 40px;
}

.rst_tree {
  overflow: scroll;
}

.rst__rowLabel {
  padding-right: 5px;
}